<div class="style_image">
  <h3 class="img_txt">...showcasing the best college events in India!</h3>
  <p class="img_btn">
    <%= link_to "Register Event", new_event_path, class: 'btn btn-default' %>
    <%= link_to "Add Event Video", new_video_path, class: 'btn btn-default' %>
  </p>
</div>
<br>
<div class="home-video">
  <h4>Recent videos</h4>
  <%= render partial: "videos/videoslist", locals: { videos: @videos } %>
</div>
