@import "bootstrap-sprockets";
@import "bootstrap";
@import "videos";
@import "events";

:root{
    --dark-primary-color:#E64A19;
    --primary-color:#FF5722;
    --light-primary-color:#FFCCBC;
    --text-icons-color:#FFFFFF;
    --accent-color:#009688;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --divider-color:#BDBDBD;
}
.container{
  min-width: 100%;

}

.nav-tabs {
   font-size: 2.25rem;
   font-weight: 400;
   color: #FFFFFF;
   background-color: var(--text-icons-color);
}


.nav-tabs > li > a{
  color: var(--primary-color);
  //background-color: #9B26AF;
  background-color: var(--text-icons-color);
}

.nav-tabs > li > a:hover{
    background-color: var(--text-icons-color);//#FFFFFF !important;
    color: var(--primary-color);
    border: medium none;
    border-radius: 0;
}

.navbar-brand {
    color: var(--primary-text-color);
    padding-top: 5px;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //font-family: "Lucida Sans Unicode", Lucida, Lucida Grande, sans-serif;
    background-color:var(--text-icons-color);
}

.navbar-brand:hover {
    color: #FFFFFF;
}


.home-video {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #691A99;
  padding-left: 50px;
  padding-top: 10px;

}

.style_image {
  background-image: asset_url("hero2.jpg");
  background-image: linear-gradient(top, #4F364C, #FFFFFF);
  background-repeat:no-repeat;
  background-position: center center;
  min-width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  z-index: -1;
  text-align:left;

}

.img_txt{
  z-index: 100;
  color: white;

  position: absolute;
  //top:100;
  //left:0;
  top: 60%;
  left:5%;
  //width: 70%;
  text-align: left;

  font-family: "Brush Script MT", Helvetica, Arial, sans-serif;
  //margin-top: 100px;
  //margin-left: 80px;

  //height: 40px;
  // opacity: 0.7;
  /*color: #7A1EA1;*/
  //padding-left: 50px;

  font-size: 3.5rem;
  // text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // background-color: #000000;

}

.home_txt{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

.btn{
  color: #00695C;
  // background-color: #68EFAD;
  position: relative;
  top: 5%;
  left:10%;
  //width: 10%;
  //height: 7%;

}

.btn:hover{
  color: #FFFFFF;
  // background-color: #68EFAD;
}

.btn:active{
  color: #000000;
  background: #000000;
  background-color: #000000;
  position: relative;
  top: 5%;
  left:10%;
  //width: 10%;
  //height: 7%;

}

.img_btn{
  z-index: 100;
  color: #545A54;
  //padding-left: 50px;
  //padding-top: 10px;
  //position: relative;
  border: 1px;

  position: absolute;
  top: 60%;
  left:0%;
  width: 100%;
  height: 7%;
  //text-align: left;
  background-color: var(--dark-primary-color);

}




.tab_bg{
  background-color: #ddd;
  border-radius: 35px 35px 0px 0px;
}

.menu_tab a{
  font-size: 1.25rem;
  color: black;
}

.pad{
  // padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.padvideo{
  padding-bottom: 10px;
}

.search{
  border: 1px solid lightgray;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 5px;
}

.mild {
  font-weight: normal !important;
}
// .video-list-thumbs{}
// .video-list-thumbs > li{
//     margin-bottom:12px;
// }
// .video-list-thumbs > li:last-child{}
// .video-list-thumbs > li > a{
// 	display:block;
// 	position:relative;
// 	background-color: #111;
// 	color: #fff;
// 	padding: 8px;
// 	border-radius:3px;
//     transition: all 500ms ease-in-out;
//     border-radius:4px
// }
// .video-list-thumbs > li > a:hover{
// 	box-shadow:0 2px 5px rgba(0,0,0,.3);
// 	text-decoration:none
// }
// .video-list-thumbs h2{
// 	bottom: 0;
// 	font-size: 14px;
// 	height: 33px;
// 	margin: 8px 0 0;
// }
// .video-list-thumbs .glyphicon-play-circle{
//   font-size: 40px;
//   opacity: 0.6;
//   position: absolute;
//   right: 42%;
//   top: 31%;
//   text-shadow: 0 1px 3px rgba(0,0,0,.5);
//   transition:all 500ms ease-in-out;
// }
// .video-list-thumbs > li > a:hover .glyphicon-play-circle{
// 	color:#fff;
// 	opacity:1;
// 	text-shadow:0 1px 3px rgba(0,0,0,.8);
// }
// @media (min-width:320px) and (max-width: 480px) {
// 	.video-list-thumbs .glyphicon-play-circle{
//     font-size: 35px;
//     right: 36%;
//     top: 27%;
// 	}
// 	.video-list-thumbs h2{
// 		bottom: 0;
// 		font-size: 12px;
// 		height: 22px;
// 		margin: 8px 0 0;
// 	}
// }
